.search {
  text-align: center;
  margin: 10px;

  .search-input {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
